services:
  dev:
    image: mcr.microsoft.com/devcontainers/typescript-node:24-trixie@sha256:ec6af70f1f6561d4f566439d07e1ece38345ed47b6578b4b0793da6422c5e78d
    container_name: caravel_devcontainer
    volumes:
      - .:/workspace:cached
      - ~/.ssh:/home/node/.ssh:ro
    ports:
      - 3000:3000
      - 3001:3001
      - 587:587
      - 4983:3002
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    command: sleep infinity

  db:
    image: postgres:18@sha256:b6b4d0b75c699a2c94dfc5a94fe09f38630f3b67ab0e1653ede1b7ac8e13c197
    container_name: caravel_postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
