version: "3.8"

services:
  dev:
    image: mcr.microsoft.com/devcontainers/typescript-node:24-trixie@sha256:3680b2fc40432023eccbe2145fc8e39cde79d2a57d04df7059c59e4cbcf9091a
    container_name: caravel_devcontainer
    volumes:
      - .:/workspace:cached
    ports:
      - 3000:3000
      - 3001:3001
      - 587:587
      - 4983:3002
    depends_on:
      - db
    env_file:
      - .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    command: sleep infinity

  db:
    image: postgres:17@sha256:dca7512acaa113409df7e40d977d801e53c0c8088e45d4311a45b4065ccfdcd3
    container_name: caravel_postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env

volumes:
  pgdata:
