services:
  dev:
    image: mcr.microsoft.com/devcontainers/typescript-node:24-trixie@sha256:ec6af70f1f6561d4f566439d07e1ece38345ed47b6578b4b0793da6422c5e78d
    container_name: caravel_devcontainer
    volumes:
      - .:/workspace:cached
    ports:
      - 3000:3000
      - 3001:3001
      - 587:587
      - 4983:3002
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    command: sleep infinity

  db:
    image: postgres:18@sha256:38d5c9d522037d8bf0864c9068e4df2f8a60127c6489ab06f98fdeda535560f9
    container_name: caravel_postgres
    restart: unless-stopped
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
