@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 15, 23, 42;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Styling - rehypeKatex & remarkMath */
span.katex-html {
  display: none;
}

/* Styling - rehypeKatex & remarkMath */
span.katex-mathml {
  @apply text-xl text-blue-100;
}

/* Styling - rehypeKatex & remarkMath */
math {
  @apply m-4;
}

/* Voir pour remplacer par ue implementation MDX avec les balises pre & code */
/* https://rehype-pretty-code.netlify.app/ */
pre {
  /* margin: 100px; */
  /* width: 90vw; */
  @apply w-[90vw] md:w-full;
}

/* https://rehype-pretty-code.netlify.app/ */
pre > code {
  display: grid;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 10px;
  @apply font-mono;
}

/* https://rehype-pretty-code.netlify.app/ */
code {
  counter-reset: line;
}

/* https://rehype-pretty-code.netlify.app/ */
code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* https://rehype-pretty-code.netlify.app/ */
code[data-line-numbers-max-digits="2"] > .line::before {
  width: 2rem;
}

/* https://rehype-pretty-code.netlify.app/ */
code[data-line-numbers-max-digits="3"] > .line::before {
  width: 3rem;
}
